:root {
  --primary-text-color:#757575;
  --title-text-color:#212121 ;
  --accent-color:#2196F3 ;
  --primary-white-color: #FFFFFF;
  --main-font-family: "Roboto" , sans-serif;
  --border-color-1px-solid: 1px solid #EEEEEE;
  --border-color-header: 1px solid #ECECEC;
  --background-gray: #F5F4FA ;
  --icons-gray: #AFB1B8;
  --black-gray-transparent: rgba(47, 48, 58, 0.4);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

section {
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

h1 {
  font-family: var(--main-font-family);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  height: 60px;
  background-color: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ECECEC;
    height: 80px;
  }
}

.header__container {
  position: relative;
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    padding-right: 93px;
    line-height: 1.19;
  }
}

.nav__logo--blueblack {
  color: var(--title-text-color);
}

.menu {
  display: flex;
  align-items: center;
  height: auto;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__item {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: 93px;
  }
}

.menu__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.17;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.menu__link:hover {
  color: var(--accent-color);
}
.menu__link:focus {
  color: var(--accent-color);
}
.menu__link:active {
  color: var(--accent-color);
}
.menu__item.current-page .menu__link::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item.current-page .menu__link {
  color: var(--accent-color);
}

.contact {
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    justify-content: right;
  }
}
@media screen and (max-width: 1199px) {
  .contact {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
.contact.list {
  display: flex;
  margin-left: auto;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .contact.list {
    display: none;
  }
}

.contact.list {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contact.list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact.list {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contact.list {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact__wrap {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contact__wrap {
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .contact__wrap {
    display: none;
  }
}

.contact__item {
  align-content: flex-start;
  align-items: flex-start;
  font-family: var(--main-font-family);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .contact__item {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .contact__item {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    font-size: 14px;
  }
}
@media screen and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
  }
}

.contact__link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  margin-right: 8px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  align-content: center;
}
.contact__icon:hover, .contact__icon:focus {
  fill: var(--accent-color);
}

.contact__icon-envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contact__icon-envelope {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.contact__icon-tel {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contact__icon-tel {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: var(--primary-white-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mob-menu__open-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transform: translate(-15px, 10px);
}
@media screen and (min-width: 768px) {
  .mob-menu__open-btn {
    display: none;
  }
}
.mob-menu__open-btn .container {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu__open-icon {
  fill: var(--title-text-color);
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .mob-menu__open-icon {
    display: none;
  }
}

.mob-menu__close-btn {
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.mob__close-icon {
  width: 18.34px;
  height: 18.34px;
  fill: var(--title-text-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transform: translate(5px, 0);
}
.mob-menu__close-btn:hover .mob__close-icon {
  fill: var(--accent-color);
}

.mob-menu__item {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  justify-content: flex-start;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__current {
  color: var(--accent-color);
}

.mob-menu__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 400px) {
  .mob-menu__tel {
    font-size: 24px;
  }
}

.mob-menu__email {
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .mob-menu__email {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mob-soc__list {
  display: flex;
  padding-top: 32px;
  align-items: flex-end;
}
@media screen and (max-width: 400px) {
  .mob-soc__list {
    display: flex;
    flex-direction: row;
  }
}

.mob-soc__item {
  padding-right: 10px;
  padding-left: 10px;
}
@media screen and (max-width: 400px) {
  .mob-soc__item {
    padding-right: 3px;
    padding-left: 3px;
    width: calc((100% - 6px) / 2);
  }
}
.mob-soc__item:first-child {
  padding-left: 0;
}
.mob-soc__item:last-child {
  padding-right: 0;
}
.mob-soc__item:not(:last-child) {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.mob-soc__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 400px) {
  .mob-soc__link {
    padding-left: 3px;
    font-size: 12px;
    line-height: 1.22;
  }
}

.hero {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .hero {
    max-width: 320px;
    height: 400px;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.615;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.878;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
}
.hero__btn:hover {
  background-color: #188CE8;
}

.hero__overlay {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/general_background_mb_x1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/general_background_mb_x2.png");
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/general_background_tb_x1.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/general_background_tb_x2.png");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/general_background.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/general_background_x2.png");
  }
}

.about {
  background-color: var(--primary-white-color);
  margin: 0 auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .about {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-direction: row;
  }
}

.about__item {
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 90px) / 4);
  }
}

.about__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  background-color: var(--background-gray);
}

.about__icon {
  align-items: center;
  justify-content: center;
  background-color: var(--background-gray);
  border-radius: 4px;
}

.about__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__title {
    justify-content: flex-start;
  }
}

.about__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  overflow-wrap: normal;
  color: var(--primary-text-color);
}

.our-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  min-height: 42px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-work__list {
  display: flex;
  justify-content: space-between;
}

.our-work__item {
  display: flex;
  position: relative;
}

.our-work__descr {
  width: 100%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: var(--primary-white-color);
  background-color: var(--black-gray-transparent);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background: var(--background-gray);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
  }
}

.team__member {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__member {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    width: calc((100% - 90px) / 4);
  }
}

.team__name-position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.team__member-position {
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  color: var(--primary-text-color);
}

.team__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.team__soc-item {
  width: 44px;
  height: 44px;
}

.team__soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icons-gray);
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: backgorund-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc-link:hover, .team__soc-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.team__soc-icon {
  fill: currentColor;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 480px) {
  .clients {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .clients {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    max-width: 1200px;
  }
}

.clients__title {
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.clients__item {
  display: flex;
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-right: 30px;
  color: #AFB1B8;
  transition: border-color 250ms, color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  flex-direction: column;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .footer {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts-join {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contact-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-contact-wrap {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact-wrap {
    margin-right: 70px;
    margin-left: 0px;
  }
}

.footer__logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
  }
}

.footer__logo-bluewhite {
  color: var(--primary-white-color);
}

.footer__contact-list,
.footer__contact-item + .footer__contact-item {
  margin-top: 9px;
}

.footer__contact-item {
  font-style: normal;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .footer__contact-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.footer__adress {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress:active, .footer__adress:focus, .footer__adress:hover {
  color: var(--accent-color);
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:active, .footer__email:focus, .footer__email:hover {
  color: var(--accent-color);
}

.footer__number {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__number:active, .footer__number:focus, .footer__number:hover {
  color: var(--accent-color);
}

.join-us__title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-align: start;
}

@media screen and (max-width: 1199px) {
  .footer-join-us-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-join-us-wrap {
    padding-right: 89px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join-us-wrap {
    padding-right: 0;
  }
}

.company-soc__list {
  display: flex;
  justify-content: center;
}

.company-soc__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-soc__item:hover, .company-soc__item:focus {
  background-color: var(--accent-color);
}
.company-soc__item:first-child {
  margin-left: 0;
}

.company-soc__icon {
  fill: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .footer-top-wrap {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top-wrap {
    flex-direction: row;
  }
}

.subscription {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscription {
    margin-top: 60px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 0px;
    margin-left: 93px;
    align-items: flex-start;
  }
}
.subscription::placeholder {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__motto {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription__motto {
    text-align: start;
    margin-top: 12px;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.subscription__input {
  background-color: transparent;
  min-height: 50px;
  padding-left: 16px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.subscription__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.878;
  letter-spacing: 0.06em;
  display: flex;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.subscription__send-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .subscription_btn-wrap {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.portfolio-examples {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio-examples {
    padding: 94px 0;
  }
}

.portfolio-filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-filter__list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter__list {
    align-items: center;
  }
}

.portfolio-filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.06em;
  box-shadow: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-gray);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__btn:hover, .portfolio-filter__btn:focus, .portfolio-filter__btn:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-examples__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-examples__list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-examples__list {
    margin-top: 50px;
  }
}

.portfolio-examples__item {
  display: flex;
  background-color: var(--primary-white-color);
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  gap: 30px;
  width: 450px;
}
.portfolio-examples__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-examples__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-examples__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-examples__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-examples__foto {
  display: block;
  height: auto;
}

.portfolio-examples__topwrap {
  position: relative;
  overflow: hidden;
}

.portfolio-examples__toptext {
  top: 1;
  position: absolute;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-examples__item:hover .portfolio-examples__toptext {
  transform: translateY(0);
}

.portfolio-examples__text {
  padding: 20px 24px;
  border-left: var(--border-color-1px-solid);
  border-right: var(--border-color-1px-solid);
  border-bottom: var(--border-color-1px-solid);
}

@media screen and (min-width: 768px) {
  .portfolio-examples__text-first {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-examples__text-first {
    padding-bottom: 20px;
  }
}

.portfolio-examples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-examples__descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop-order {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibiity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-white-color);
  border-radius: 4px;
  display: flex;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 400px;
  width: 300px;
}
.backdrop-order.is-hidden .modal-order {
  transform: translate(0, 0) scale(0);
}
@media screen and (min-width: 480px) {
  .modal-order {
    min-height: 609px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-order {
    min-height: 581px;
    width: 528px;
  }
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close-modal {
  fill: #000000;
}
.icon-close-modal .button-clos:focus, .button-close:hover .icon-close-modal {
  fill: var(--accent-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  padding: 40px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  resize: none;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .modal-form-field {
    max-width: 240px;
  }
}
.modal-form-field a {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: transparent;
  margin-bottom: 12px;
}
.modal-input {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  padding-left: 42px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: border 1px solid var(--accent-color);
}
.modal-input .about-us {
  outline: 1px solid var(--accent-color);
  color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-input:focus {
  outline: none;
  background: #FFFFFF;
  border: 1px solid var(--accent-color);
}

.modal-label {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  position: relative;
  color: #757575;
}

.wrap-input-icon {
  position: relative;
}

.modal-form-icon {
  color: var(--title-text-color);
  fill: var(--title-text-color);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  appearance: none;
  background: #FFFFFF;
  margin-top: 4px;
  min-height: 40px;
  padding-left: 42px;
  box-sizing: border-box;
  height: 120px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  outline: none;
  appearance: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--accent-color);
}

.modal-textarea {
  resize: none;
  padding: 16px;
}
.modal-textarea::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.privacy-check-text {
  margin-top: 10px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .privacy-check-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .privacy-check-text {
    font-size: 14px;
  }
}
.privacy-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 7px;
  display: flex;
}

.wrap-privacy {
  display: flex;
  flex-direction: column;
}

.privacy-icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}
.privacy-check:checked + .privacy-check-text .privacy-icon-check {
  fill: var(--primary-white-color);
}

.privacy-check:focus {
  background-color: var(--accent-color);
  border: none;
}

.privacy-check:checked + .privacy-check-text span {
  background-color: var(--accent-color);
  border: none;
}

.wrap-btn-submit {
  display: flex;
  justify-content: center;
  border: none;
}

.modal-btn-submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.modal-btn-submit:hover {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-btn-submit:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */