.menu__link {
    @include font($ls: 0.02em);

    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $link-color;

    }
}

.current::after {
    content: "";
    height: 4px;
    border-radius: 4px;
    background-color: $link-color;
    display: block;
    flex-grow: 1;
    bottom: -28px;
    position: relative;
}



.headr {
    display: flex;
    height: 80px;
    align-items: center;

}

.menu__list {
    display: flex;
    margin-left: 93px;
    margin-right: 250px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.menu__list .menu__items+.menu__items {
    margin-left: 50px;
}

.contact {
    @include font($ls: 0.02em);

    height: 16px;
    color: #757575;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $link-color;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
    /*@media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }*/
}

.contact__phone {
    margin-left: 30px;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact__icon {
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
}

.line {
    display: flex;
    border-bottom: 1px solid #ECECEC;
}