
.about {
    background-color: var(--primary-white-color);
    
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0 auto;

    width: 100%;
    
    padding-top: 60px;
    padding-bottom: 60px;

    @include mobile {
        max-width: 480px;
    }
    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.about__list {
    width: 100%;
    display: flex;
    // justify-content: center;

    // align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 30px;

    @include tablet{
        display: flex;
        flex-direction: row;
    }
}

.about__item{
    justify-content: center;
    width: 100%;
        
    @include tablet{
        width: calc((100% - 30px)/2);
    }
    @include desktop {
        width: calc((100% - 90px)/4);
    }
}

.about__box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    background-color:  var(--background-gray);
}

.about__icon{
    align-items: center;
    justify-content: center;
    background-color:  var(--background-gray);
    border-radius: 4px;
}

.about__title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
        justify-content: flex-start;
    }
}

.about__text {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    overflow-wrap: normal;

    color: var(--primary-text-color);
}