.footer {

    background-color: #2F303A;
    padding-bottom: 60px;
    flex-direction: column;
    padding-top: 60px;

    @include mobile {
        margin: 0 auto;
    }

    @include tablet {}

    @include desktop {
        flex-direction: row;
    }
}

.footer-contacts-join {

    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

.footer-contact-wrap {
    @media screen and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    @include tablet {

        margin-left: 76px;
    }

    @include desktop {
        margin-right: 70px;
        margin-left: 0px;
    }
}

.footer__logo {

    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;

    @include desktop {
        font-size: 26px;
    }

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
    margin-bottom: 20px;

}

.footer__logo-bluewhite {
    color: var(--primary-white-color);
}

.footer__contact-item {
    @media screen and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    font-style: normal;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.footer__adress {
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.footer__email {

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.footer__number {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.join-us__title {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
    text-align: center;
}

.footer-join-us-wrap {
    @media screen and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include tablet {
        padding-right: 89px;
        margin-top: 0;

    }

    @include desktop {
        padding-right: 0;

    }
}



.company-soc__list {
    display: flex;
    justify-content: center;
}

.company-soc__item {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
    margin-left: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

    &:first-child {
        margin-left: 0;
    }
}

.company-soc__icon {
    fill: var(--primary-white-color);
}

.footer-top-wrap {
    @include tablet {
        display: flex;
        flex-direction: column;
    }

    @include desktop {
        flex-direction: row;
    }
}

.subscription {

    text-align: center;

    @include tablet {
        margin-top: 60px;
        padding-right: 0;
    }

    @include desktop {
        margin-top: 0px;
        margin-left: 93px;
        align-items: flex-start;
        margin-right: 215px;

    }

    &::placeholder {
        font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}


.subscription__motto {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);

    margin-bottom: 20px;

    @include desktop {
        text-align: start;
        margin-top: 12px;
    }
}

.subscription__form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    @include desktop {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.subscription__input {
    background-color: transparent;
    min-height: 50px;
    padding-left: 16px;

    width: 300px;

    @include mobile {
        width: 450px;
    }



    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    margin-bottom: 20px;

    @include desktop {
        width: 358px;
        display: flex;
        align-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-right: 12px;
    }

}

.subscription__btn {
    display: flex;
    width: 200px;
    height: 50px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.subscription__send-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.subscription_btn-wrap {
    @include desktop {
        display: flex;
        align-items: center;
        align-content: center;
    }
}