.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content:space-between;
    margin: 0 auto;
    
    @include mobile {
        max-width: 480px;
    }
    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }
}