
:root {
    --primary-text-color:#757575; ;
    --title-text-color:#212121 ;
    --accent-color:#2196F3 ;
    --primary-white-color: #FFFFFF;
    --main-font-family: "Roboto" , sans-serif;
    --border-color-1px-solid: 1px solid #EEEEEE;
    --border-color-header: 1px solid  #ECECEC;
    --background-gray: #F5F4FA ;
    --icons-gray: #AFB1B8;
    --black-gray-transparent: rgba(47, 48, 58, 0.4);    
}